<h1>transaction_registratison</h1>
  <%= form_tag("/transactions/create") do %>
    <h2>debtor_name</h2>
      <textarea name="debtor_name"></textarea>
    <h2>transaction_object</h2>
      <textarea name="goods"></textarea>
    <h2>transaction_date</h2>
      <textarea name="registration_date"></textarea>
    <br>
    <input type="submit" value="signup">
  <% end %>
</div>
