<!-- ここに債務者紐づけリンクとか設定できたらすごいんだろうけど -->
<!-- 劣後 -->


<div class="container">
  <h2>Transaction</h2>
  <div class="list-group">
    <p class="list-group-item list-group-item-action"><%= @transaction.registration_date %></p>
    <p class="list-group-item list-group-item-action"><%= @transaction.debtor_name %></p>
    <p class="list-group-item list-group-item-action"><%= @transaction.goods %></p>
    <p class="list-group-item list-group-item-action"><%= @transaction.status %></p>
  </div>
</div>
